:root {
    --primary-color: #475569;
    --secondary-color: #64748B;
    --third-color:#CBD5E1;
    --background-color:#F2F3F5;
    --block-color:white;
    --text-color-dark: #F8FAFC;
    --text-color-light: #1E293B;
}

.alarm {
    height: 100%;
    padding-left: 12px;
    position: relative;
}

.alarmTitle {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    color: var(--text-color-light);
    font-size: 1rem;
    border-radius: 12px;
    padding-top: 8px;
    font-weight: 700;
}

.addAlarmButton {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 15px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-color-light);
    font-weight: 500;
}

/*=============== modal ===============*/

.modal-alarm-container {
  
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  backdrop-filter: blur(1px);
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.modal-alarm {
  
  position: relative;
  position: fixed;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  background-color: var(--background-color);
  z-index: 1000;
  border-radius: 12px;

}

.modal-alarm-container.modal-alarm-hidden {
  opacity: 0;
  visibility: hidden;
}

.modal-alarm-content {
  width: 100%;
  height: 100%;
}

.modal-alarm-close {

  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}