:root {
    --primary-color: #475569;
    --secondary-color: #64748B;
    --third-color:#CBD5E1;
    --background-color:#F2F3F5;
    --block-color:white;
    --text-color-dark: #F8FAFC;
    --text-color-light: #1E293B;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weatherInfo {
    display: flex;
    justify-content: center;
}

@media screen and (min-width:900px) {
    .weather {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .weatherImg {
        width: 145px;
        height: 145px;
    }

    .weatherInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
}

.weatherDegree {
    font-size: 2.5rem;
    font-weight:900;
    color: var(--text-color-light);
}

@media screen and (min-width:900px) {
    .weatherDegree {
        font-size: 3.2rem;
    }
}

.weatherUnit {
    font-size: 0.8rem;
    font-weight: 900;;
}


/*=============== modal ===============*/

.modal-weather-container {
  
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  backdrop-filter: blur(1px);
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.modal-weather {
  
  position: relative;
  position: fixed;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  background-color: var(--background-color);
  z-index: 1000;
  border-radius: 12px;

}

.modal-weather-container.modal-weather-hidden {
  opacity: 0;
  visibility: hidden;
}

.modal-weather-content {
  width: 100%;
  height: 100%;
}

.modal-weather-close {

  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}